/* Corporative Theme. Should be used ONLY with neue.css */
body,
#badges {
  background: #FAFAFA;
}

a,
#dialog_header a.close,
.mobile_search .toggle_search,
.messages_dialog .dialog_header a.close {
  color: #1CAF9A;
}

a:hover,
a:focus {
  color: #33b7a4;
}

a:active {
  color: #199e8b;
}

a.delete,
.field_error {
  color: #EE6456;
}

a.delete:hover,
a.delete:focus {
  color: #f07467;
}

a.delete:active {
  color: #d65a4d;
}

button,
.btn,
#campaign_nav.nav-tabs li a .count {
  background-color: #1CAF9A;
}

button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background-color: #33b7a4;
  outline: none;
}

button:active,
.btn:active {
  background-color: #199e8b;
}

.btn-warning {
  background-color: #E74C3C;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #e95e50;
}

.btn-warning:active {
  background-color: #d04436;
}

.campaign_action .btn[href*="/authorize/"] {
  background: transparent;
  box-shadow: inset 0 0 0 1px #1CAF9A;
  color: #1CAF9A !important;
}

.campaign_action .btn[href*="/authorize/"]:hover,
.campaign_action .btn[href*="/authorize/"]:focus {
  background: rgba(28,175,154,0.05);
}

.campaign_action .btn[href*="/authorize/"]:active {
  background: rgba(28,175,154,0.15);
}

.well {
  background: #FAFAFA;
}


/*-------Top bar-------*/

#top {
  background: #1D2939;
}

#top h1.logo a {
  color: #fff;
}

#top nav ul li.main-link a {
  padding: 0 10px;
}

#top nav ul li.main-link a .green,
#top nav ul li.main-link a .blue {
  position: relative;
  color: #fff;
}

#top nav ul li.main-link a .green:after,
#top nav ul li.main-link a .blue:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 13px;
  border-bottom: solid 1px #EE6456;
  -webkit-transition: 0.2s ease-out;
}

#top nav ul li.main-link a:hover .green:after,
#top nav ul li.main-link a:hover .blue:after {
  width: 100%;
}

.menu-note {
  display: none;
  color: #FFF;
  top: -1px;
}

#top nav ul li.main-link a:hover {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#top nav ul li.main-link a:focus {
  outline: none;
}

#top nav ul li.main-link a:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

li.search .icon-search,
#top nav ul li.search input,
#top nav ul li.user ul li:last-child {
  border-color: transparent;
}

#top nav ul li.search input {
  background: transparent;
  color: #f2f2f2;
  z-index: 99;
}

#top nav ul li.search input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #EED056 inset;
  border: none;
}

#top nav ul li.search input:focus {
  width: 265px;
  opacity: 1;
  padding: 5px 65px 0 15px;
  border-color: #EE6456;
  word-break: break-all;
  z-index: 9;
}

li.search .icon-search {
  color: #EE6456;
  line-height: 79px;
  z-index: 10;
}

#top nav ul.user li a {
  color: #f0f0f0;
}

#top nav ul.user li a:hover,
#top nav ul.user li a:focus {
  color: #FFF;
}

#top nav ul.user li a:active {
  color: #f0f0f0;
}

#top nav ul.user li a i[class*="icon-"] {
  color: #FFF;
}

#top nav ul li.user ul::before {
}

#top nav ul li.user ul::before,
#top nav ul li.user ul {
  border: none;
  background: #1D2939;
}

#top nav ul li.user ul li {
  background-color: #1D2939;
}

#top nav ul li.user ul li:hover,
#top nav ul li.user ul li:focus {
  background-color: #343e4d;
}

#top nav ul li.user ul li:active {
  background-color: #1a2533;
}

/*-------Nav Tabs-------*/

.sidebar-sticky #content ul#ctabs.nav.nav-tabs {
  width: 15%;
  padding-right: 5%;
}

.sidebar-sticky #content #badges.well.white {
  width: 80%;
  margin-left: 20%;
}

.sidebar-right #content #badges.well.white {
  width: 80%;
}

ul.nav-tabs li a.selected,
ul.nav-tabs li a.active,
.sidebar-left #content ul#ctabs.nav.nav-tabs li a.selected,
.sidebar-right #content ul#ctabs.nav.nav-tabs li a.selected,
.sidebar-sticky #content ul#ctabs.nav.nav-tabs li a.selected {
  border-bottom: solid 2px #EE6456;
}

ul.nav-tabs li a.selected,
ul.nav-tabs li a:hover,
ul#campaign_dash.nav li a:hover {
  background: rgba(52,152,219,0);
}

ul.nav-tabs li a:active,
ul#campaign_dash.nav li a:active {
  background: rgba(28,175,154,0.1);
}

a.category-tab.selected ~ ul#category-dropdown {
  border-color: #EE6456;
}

/*-------Errors-------*/

#flash #info,
#dialog_info,
.alert {
  background: #1CAF9A;
  color: #fff;
}

#flash #error,
#dialog_flash #dialog_error {
  background: #EE6456;
  color: #fff;
}

/*-------Campaign-------*/

ul#campaign_dash.nav li a.active,
.nav.nav-pills a.active {
  background: #1CAF9A;
}

.campaign_successful,
.progressbar .progress {
  background-color: #27A0A7;
}

#campaign_content {
  background: #fff;
}

#new_contribution > .grid_8 {
  background: #fff;
}

#campaign_form label[for="campaign_video_url"] {
  border-top: solid 1px #EAEAEA;
  padding-top: 20px;
}

.campaign-dropbox.dropbox {
  padding-bottom: 20px;
  border-bottom: solid 1px #EAEAEA;
}

#campaign_data {
  background-color: #fff;
}

#campaign_data ul.block-list > li {
  margin-left: -20px;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*-------Profile-------*/

@media screen and (max-width: 960px) {

  div#user_profile .grid_6 .well.white {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  div#user_profile .grid_6.right.last h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}


/*-------Badges-------*/

.home .campaign_badge:not(.badge-big),
.discover .campaign_badge:not(.badge-big),
.search .campaign_badge:not(.badge-big) {
  margin-right: 0;
  width: 32%;
}

.home .campaign_badge:not(.badge-big):nth-of-type(3n+2),
.discover .campaign_badge:not(.badge-big):nth-of-type(3n+2),
.search .campaign_badge:not(.badge-big):nth-of-type(3n+2) {
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (min-width: 960px) {
  .sidebar-default.home .campaign_badge:not(.badge-big),
  .sidebar-default.discover .campaign_badge:not(.badge-big),
  .sidebar-default.search .campaign_badge:not(.badge-big),
  .sidebar-dropdown.home .campaign_badge:not(.badge-big),
  .sidebar-dropdown.discover .campaign_badge:not(.badge-big),
  .sidebar-dropdown.search .campaign_badge:not(.badge-big) {
    width: 24%;
    margin-left: 0;
    margin-right: 0;
  }

  .sidebar-default.home .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)),
  .sidebar-default.discover .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)),
  .sidebar-default.search .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)),
  .sidebar-dropdown.home .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)),
  .sidebar-dropdown.discover .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)),
  .sidebar-dropdown.search .campaign_badge:not(.badge-big):not(:nth-of-type(4n+4)) {
    margin-right: 1.333%;
  }
}

.campaign_badge .campaign_image {
  background: rgba(34,177,156,0.05);
}

.campaign_badge .campaign_image a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.campaign_badge .campaign_image a:active {
  background-color: rgba(78, 191, 175, 0.05);
}

.campaign_progress .progress_info tr.numbers td:nth-child(2):before {
  color: #EE6456;
}

.campaign_progress .progress_info tr.numbers td:nth-child(3):before {
  color: #EED056;
}

.badge-big.campaign_badge .progressbar,
#stats .progressbar,
.campaign_progress .progressbar {
  background: #1D2939;
}

.progressbar .progress,
.campaign_badge .campaign_successful {
  background: #1CAF9A;
}

@media screen and (max-width: 640px) {
  .home .campaign_badge:not(.badge-big),
  .discover .campaign_badge:not(.badge-big),
  .search .campaign_badge:not(.badge-big) {
    margin-right: 0;
    width: 49%;
  }

  .home .campaign_badge:not(.badge-big):nth-of-type(odd),
  .discover .campaign_badge:not(.badge-big):nth-of-type(odd),
  .search .campaign_badge:not(.badge-big):nth-of-type(odd) {
    margin-left: 0;
    margin-right: 1%;
  }

  .home .campaign_badge:not(.badge-big):nth-of-type(even),
  .discover .campaign_badge:not(.badge-big):nth-of-type(even),
  .search .campaign_badge:not(.badge-big):nth-of-type(even) {
    margin-left: 1%;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .home .campaign_badge:not(.badge-big):nth-of-type(odd),
  .discover .campaign_badge:not(.badge-big):nth-of-type(odd),
  .search .campaign_badge:not(.badge-big):nth-of-type(odd),
  .home .campaign_badge:not(.badge-big):nth-of-type(even),
  .discover .campaign_badge:not(.badge-big):nth-of-type(even),
  .search .campaign_badge:not(.badge-big):nth-of-type(even) {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

/*-------Groups-------*/

#group_info {
  padding: 20px;
  box-shadow: 0 0 3px rgba(44,62,80,0.3);
  border-radius: 5px;
  border: none;
  overflow: hidden;
  background-color: #fff;
}

#group_info .group_site {
  position: relative;
  display: block;
  padding-left: 20px;
}

#group_info .group_site:before {
  position: absolute;
  left: 0;
  font-size: 14px;
  top: 3px;
  content: "\e603";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#group_info .group-controls {
  padding-bottom: 10px;
}

#group_info .group_image {
  padding: 0;
  width: 100%;
  border-radius: 5px;
  background: #eaeaea;
  border: none;
  margin-bottom: 10px;
}

#group_info .group_total_amount {
  margin-top: 10px;
}

.group_badge .group_img {
  font-size: 0;
  background: rgba(34,177,156,0.05);
}

.group_badge .group_img:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.group_badge .group_img img {
  vertical-align: middle;
}

.row .grid_4.group_badge {
  border-radius: 5px;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: 0 0 2px rgba(44,62,80,0.2);
  -moz-box-shadow: 0 0 2px rgba(44,62,80,0.2);
  box-shadow: 0 0 2px rgba(44,62,80,0.2);
}

.row .grid_4.group_badge:hover {
  -webkit-box-shadow: 0 0 3px rgba(44,62,80,0.4);
  -moz-box-shadow: 0 0 3px rgba(44,62,80,0.4);
  box-shadow: 0 0 3px rgba(44,62,80,0.4);
}

.row .grid_4.group_badge:active {
  -webkit-box-shadow: 0 0 2px rgba(44,62,80,0.4);
  -moz-box-shadow: 0 0 2px rgba(44,62,80,0.4);
  box-shadow: 0 0 2px rgba(44,62,80,0.4);
}

.group_badge h3 {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.group_badge a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #33b7a4;
}

@media screen and (max-width: 640px) {
  .row .grid_4.group_badge {
    width: 49%;
    margin-left: 0;
    margin-right: 0;
  }

  .row .grid_4.group_badge:nth-of-type(odd) {
    margin-right: 2%;
  }
}

@media screen and (max-width: 480px) {
  .row .grid_4.group_badge,
  .row .grid_4.group_badge:nth-of-type(odd) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/*-------Content-------*/

body.search #tagline h2 {
  color: #EE6456;
  font-weight: 600;
}

body.search #tagline h2:before {
  content: '\201C';
}

body.search #tagline h2:after {
  content: '\201D';
}

/*-------Footer-------*/

#footer{
  background: #1d2939;
}

/*-------Dialog-------*/

#overlay {
  background: rgba(29,41,57,0.9);
}

#dialog_content a.cancel {
  float: right;
  line-height: 29px;
  height: 29px;
}

#dialog_content .right .delete.small {
  font-size: 100%;
  margin-left: 10px;
  line-height: 29px;
}

/* Mobile Header
------------------------------------------------ */

.mobile_header .mobile_search .toggle_search i {
  color: #1CAF9A;
}
