/* buttons

.btn {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4bb0f6), to(#2A9AE8));
  background-image: -webkit-linear-gradient(top, #4bb0f6, #2A9AE8);
  background-image: -o-linear-gradient(top, #4bb0f6, #2A9AE8);
  background-image: linear-gradient(to bottom, #4bb0f6, #2A9AE8);
  background-image: -moz-linear-gradient(top, #4bb0f6, #2A9AE8);
  border: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(255,255,255,.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.btn:active,
.btn.active {
  border: 1px solid rgba(255,255,255,.15);
  border-top: 1px solid rgba(0,0,0,.15);
  text-shadow: -1px -1px 1px rgba(0,0,0,.15);
}

.btn.disabled,
.btn.btn-primary.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn.btn-primary.disabled:hover {
  border: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(255,255,255,.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.btn-warning {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EB7738), to(#EB6238));
  background-image: -webkit-linear-gradient(top, #EB7738, #EB6238);
  background-image: -o-linear-gradient(top, #EB7738, #EB6238);
  background-image: linear-gradient(to bottom, #EB7738, #EB6238);
  background-image: -moz-linear-gradient(top, #EB7738, #EB6238);
}

.btn-primary {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAB81E), to(#F5A418));
  background-image: -webkit-linear-gradient(top, #FAB81E, #F5A418);
  background-image: -o-linear-gradient(top, #FAB81E, #F5A418);
  background-image: linear-gradient(to bottom, #FAB81E, #F5A418);
  background-image: -moz-linear-gradient(top, #FAB81E, #F5A418);
}

.btn-orange {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAB81E), to(#F5A418));
  background-image: -webkit-linear-gradient(top, #FAB81E, #F5A418);
  background-image: -o-linear-gradient(top, #FAB81E, #F5A418);
  background-image: linear-gradient(to bottom, #FAB81E, #F5A418);
  background-image: -moz-linear-gradient(top, #FAB81E, #F5A418);
}

*/
