<!DOCTYPE html>
<html>
  <head>
  <title>Template Error | <%= Util.escape(site.name) %></title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
  <style>
    body {
      width: 750px;
      margin: 3.236em auto;
      padding-top: 3.236em;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: left;
    }
    h1 {
      font-size: 1.618em;
      font-weight: 300;
      margin-bottom: 1em;
    }
    p{
      font-size: 1em;
    }
    p.hint{
      font-size: 85%;
    }
    img.crowdfundhq_logo {
      width: 140px;
      height: 36px;
    }
    a {
      text-decoration: none;
    }
    a {
      color: #18abe6;
      cursor: pointer;
      text-decoration: none;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;
    }
    a:hover {
      color: #168ec3;
      text-decoration: none;
    }
    .liquid-error {
      padding-top: 1.618em;
      color: darkred;
      font-size: 110%;
    }
    aside {
      color: #999;
      margin-top: 3em;
    }
  </style>
  </head>
  <body>
    <h1>Error in <%= name %></h1>
    <div class="liquid-error">
      <%= error.message %>
    </div>
    <aside>Need help?</aside>
    <ul>
      <li><a href="https://crowdfundhq.com/docs">Documentation</a></li>
      <li><a href="https://crowdfundhq.com/contact">Support</a></li>
    </ul>
  </body>
</html>
