/* Reset old styles */

body{
  overflow: hidden;
  overflow-y: scroll;
}

.inner-width, #container{
  width: 960px;
  min-width: 300px;
  max-width: 100%;
}

/* Reset old styles end */

.mobile,
.messages_dialog{
  display: none;
}

.desktop{
  display: block;
}

/* Header */

.mobile_header {
  display: none;
  position: absolute; /* Old phones hack */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  padding: 7px 0;
  text-align: center;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.show_dialog .mobile_header{
  display: none;
}

.mobile_header .mobile_item{
  height: 36px;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.mobile_header .logotype{
  float: none;
}

.mobile_header .logotype img{
  height: 36px;
  width: auto;
}

.mobile_header .nav_toggle{
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.mobile_header .nav_toggle i,
.mobile_header .search_toggle i,
.mobile_search .toggle_search i{
  margin-top: 9px;
  color: #5E605F;
}

.mobile_header .search_toggle{
  float: right;
  margin-right: 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.mobile_header .nav_toggle:active,
.mobile_header .search_toggle:active{
  background-color: rgba(0,0,0,0.1);
}

.mobile_search {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
}

.mobile_search input[type="text"]{
  width: 100%;
  max-width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  padding: 0 60px 0 20px;
}

.mobile_search .toggle_search {
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 0 10px;
  border-radius: 5px;
}

.search_overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 99;
  background: rgba(255,255,255,0.85);
}

/* Header end */

/* Navigation */

.mobile_navigation{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  min-height: 100vh;
  width: 80vw;
  padding: 0 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.71);
}

#top .mobile_navigation .mobile_wrap{
  float: none;
  padding: 0 20px;
}

.mobile_navigation .mobile_block{
  padding-top: 70px;
}

.mobile_navigation li{
  list-style-type: none;
}

#top .mobile_navigation ul li{
  margin: 0;
}

#top .mobile_navigation ul#mob-menu li.user i[class*="icon-"]{
  display: none;
}

.mobile_navigation li a{
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.mobile_navigation li.mobile_user > a{
  color: #697579;
}

.mobile_navigation li:not(.user) a:active{
  background-color: #57b1e4;
  color: #fff;
}

.mobile_navigation li.mobile_user > a:active{
  background-color: transparent;
  color: #697579;
}

.mobile_navigation ._exploration,
.mobile_navigation .menu-note {
  padding-left: 10px;
  font-size: 9pt;
  color: #697579;
}

.mobile_navigation .main-link:active ._exploration,
.mobile_navigation .main-link:active .menu-note{
  color: #fff;
}

.mobile_navigation .navigation.mobile_block{
  margin-top: 20px;
  border-top: solid 1px #ddd;
}

.mobile_navigation .top_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  box-shadow: -2px 0 3px rgba(0,0,0,0.3);
  height: 50px;
  padding: 7px 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile_navigation .top_bar > * {
  display: inline-block;
}

.mobile_navigation .top_bar h3{
  margin-top: 9px;
  color: #333;
}

.mobile_navigation .top_bar .btn{
  float: right;
  margin-top: 3px;
}
.mobile_navigation .tall{
  display: inline-block;
  margin-top: 0;
  line-height: initial;
  font-size: 12pt;
}

.mobile_navigation .green,
.mobile_navigation a:hover .green,
.mobile_navigation a:active .green,
.mobile_navigation .blue,
.mobile_navigation a:hover .blue{
  color: #585A59;
}

.mobile_navigation a:active .green,
.mobile_navigation a:active .blue{
  background-color: #57b1e4;
  color: #fff;
}

.mobile_navigation .search,
.mobile_navigation .lang.mobile_block:empty,
.mobile_navigation #menu .mobile_user i.icon-chevron-left{
  display: none;
}

.mobile_navigation .lang.mobile_block #lang{
  position: static;
  padding: 10px 20px;
  border-top: solid 1px #ddd;
  color: #697579;
}

.side_hide{
  position: absolute;
  top: -50px;
  left: 80vw;
  bottom: 0;
  width: 20vw;
  background: rgba(255,255,255,0.85);
  z-index: -1;
}

/* Navigation end */

/* Categories */

.mobile_categories{
  display: none;
}

/* Categories end */


/* Tablets */

@media screen and (max-width: 960px){
  body{
    overflow-y: auto;
  }

  .inner-width, #container, .container,
  body.campaign #tagline .inner-width{
    width: 100%;
    min-width: 300px;
    max-width: 100%;
  }

  .container{
    padding-bottom: 30px;
  }

  #tagline .inner-width{
    min-width: inherit;
  }

  #container{
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .show_mob_nav .mobile_navigation,
  .show_mob_search .mobile_search,
  .show_mob_search .search_overlay,
  .mobile_categories,
  .mobile_header,
  .mobile{
    display: block;
  }

  form label{
    display: block;
  }

  p label{
    display: initial;
  }

  input[type='text'],
  input[type='password'],
  #campaign_form input[type='text'],
  input#location,
  #login.row input{
    width: 100%;
    max-width: 250px;
  }

  input[type='text'],
  input[type='password'],
  #login.row input,
  textarea{
    display: block;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  textarea{
    height: 150px;
    max-width: 100%;
  }

  .show_mob_search #overlay{
    z-index: 99;
    overflow: hidden;
  }

  .desktop_navigation,
  #user_menu,
  #top .inner-width > nav,
  #top h1.logo,
  #top > #lang,
  #ctabs.nav-tabs,
  .desktop{
    display: none;
  }

  .mobile_categories{
    width: 100%;
    font-size: 12pt;
    padding: 10px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .well{
    padding: 0;
    border: none;
  }

  #stick {
    min-height: 100%;
    width: 100%;
  }

  #top{
    border: none;
    margin-top: 50px;
    height: auto;
    box-shadow: none;
  }

  #tagline{
    padding: 15px 20px;
    margin: 0;
  }

  #tagline h2{
    padding: 5px 0;
  }

  .show_mob_nav .mobile_header{
    display: none;
  }

  .show_mob_nav #top .inner-width{
    position: static;
  }

  .user_edit_avatar.right.center{
    float: none;
  }

  #user-update ~ form{
    padding-bottom: 40px;
  }

  #user-update ~ form .right{
    float: none;
    position: absolute;
    margin-top: 50px;
  }

/* Campaign badge */

  #stick #content #badges{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .campaign_badge {
    position: relative;
    width: 32%;
    float: left;
    border-radius: 1px;
    border: rgba(0,0,0,.2);
    max-height: 418px;
    min-width: inherit;
    margin: 0 0 60px;
  }

  .badge-big.campaign_badge,
  .badge-big.campaign_badge:nth-of-type(3n-1),
  .badge-big.campaign_badge:nth-of-type(even){
    margin: 0 0 10px;
  }

  .campaign_image,
  .badge-big.campaign_badge .campaign_image{
    width: 100%;
    height: auto;
    max-height: inherit;
    float: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
  }

  .badge-big.campaign_badge .campaign_header{
    height: auto;
    padding-bottom: 15px;
  }

  .campaign_image img,
  .badge-big.campaign_badge .campaign_image img{
    max-width: initial;
    width: auto;
    height: auto;
    max-height: 150px;
  }

  .badge-big.campaign_badge .campaign_headline{
    min-height: 50px;
  }

  .badge-big.campaign_badge .campaign_progress {
    position: relative;
    height: auto;
    top: 0;
    bottom: 0;
    padding: 0 0 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .badge-big.campaign_badge tr.numbers td:nth-child(3),
  .badge-big.campaign_badge tr.numbers td:nth-child(2),
  .badge-big.campaign_badge .campaign_progress tr.desc td{
    position: static;
    float: left;
    width: 50%;
  }

  .campaign_badge:nth-of-type(3n-1){
    margin: 0 2% 10px;
  }

  .campaign_share{
    display: inline-block;
  }

  .campaign_badge tr.numbers td:first-of-type{
    font-size: 11pt;
    -webkit-text-size-adjust: 100%; /* prevent text scale in landscape mode*/
    text-size-adjust: 100%;
  }

  .campaign_category,
  .badge-big.campaign_badge .campaign_category{
    position: relative;
    bottom: 29px;
    width: 100%;
    margin: 0;
    padding: 2px 5px;
    left: -5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    font-weight: 300;
  }

  .badges-badge-classic .campaign_badge tr.numbers td,
  .badges-badge-classic .campaign_progress .desc td:first-of-type,
  .badges-badge-classic .campaign_badge tr.numbers td:first-of-type,
  .badges-badge-classic .campaign_badge tr.numbers td:nth-child(3),
  .badges-badge-classic .campaign_badge tr.numbers td:nth-child(2),
  .badges-badge-classic .campaign_badge .campaign_progress tr.desc td{
    font-size: 9pt;
    width: 33.3%;
    float: left;
    line-height: 12pt;
    top: 0;
  }

  .badges-badge-classic .campaign_badge .campaign_progress tr.desc td{
    font-size: 7pt;
  }

  .badge-big.campaign_badge{
    max-height: initial;
  }

  .campaign_image img,
  .badge-big.campaign_badge .campaign_image img{
    height: 150px;
    max-width: 100%;
  }

  .badge-big.campaign_badge .campaign_image img{
    height: 250px;
    max-height: 250px;
  }

  .badges-badge-classic .badge-big.campaign_badge .campaign_progress{
    padding: 10px;
  }

  .badges-badge-classic .progressbar{
    width: 100%;
  }

  .badges-badge-classic .badge-big.campaign_badge .campaign_location{
    position: static;
  }

  .campaign_location {
    position: static;
    padding: 0 3px;
  }

  .campaign-report-show-view > .grid_4,
  #campaign_contributions > .grid_4 {
    display: none;
  }

  .campaign-report-show-view > .grid_8,
  #campaign_contributions > .grid_8 {
    width: 100%;
  }

  /* Campaign badge end */

  /* Footer */

  #footer{
    position: relative;
    min-height: 100px;
    height: auto;
    margin-top: 0;
    padding: 20px;
  }

  #footer .nav{
    display: block;
    padding: 20px 0 10px;
    max-width: 100%;
    overflow: hidden;
  }

  #footer .nav li{
    margin: 0;
    height: 30px;
    float: none;
  }

  #footer .nav a{
    padding: 5px 0;
  }

  #footer a.powered-by{
    display: block;
    height: 36px;
    margin-top: 30px;
    text-align: center;
    float: none;
  }

  #footer a.powered-by *{
    display: none;
  }
  /* Footer end */

  /* Dialog */

  div#overlay,
  .messages_dialog{
    min-height: 100vh;
    position: absolute;
  }

  div#dialog,
  .messages_dialog .dialog_content {
    width: auto;
    margin: 80px 10px 50px;
  }

  #dialog_header,
  .messages_dialog .dialog_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    padding: 7px 20px;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    z-index: 99;
  }

  #dialog_header h4,
  .messages_dialog .dialog_header h4 {
    height: 60px;
    line-height: 36px;
    text-align: left;
    font-weight: 600;
    overflow: hidden;
    padding-right: 100px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  #dialog_header a.close,
  .mobile_search .toggle_search,
  .messages_dialog .dialog_header a.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 130%;
    width: 120px;
    text-align: right;
    color: #57b1e4;

    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(39%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); IE6-9 */
  }

  #dialog_header a.close,
  .messages_dialog .dialog_header a.close{
    position: fixed;
  }

  #dialog_header a.close::before,
  .mobile_search .toggle_search:before,
  .messages_dialog .dialog_header a.close:before{
    /* content: 'Close'; */
    font-size: 10pt;
    position: absolute;
    right: 35px;
    color: #888;
  }

  .mobile_search .toggle_search{
    padding: 0;
    height: 24px;
  }

  .mobile_search .toggle_search i {
    margin-top: 0;
    color: #57b1e4;
  }

  div#login {
    margin: 0;
    max-width: 100%;
  }

  #login > div {
    width: auto;
    max-width: inherit;
    float: none;
  }

  #login.row h4,
  #login.row #email_login h5{
    font-weight: 600;
  }

  #login.row #signup {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  #login.row #signup p {
    margin: 15px 0 0;
    height: 29px;
  }

  /* Dialog end */

  /* Create campaign */

  a.campaign_image_upload{
    white-space: nowrap;
    margin-left: 0;
  }

  .upload-form-file ~ a{
    display: inline-block;
    white-space: nowrap;
    margin-top: 10px;
  }

  /* Create campaign end */

  /* Campaign page */

  #campaign_sidebar,
  #campaign_content{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #campaign_sidebar.grid_4{
    margin-right: 0;
    padding-right: 0;
  }

  .campaign #campaign_content{
    padding: 0 20px;
  }

  #stats li{
    display: inline-block;
    margin-right: 20px;
  }

  #stats .hint{
    width: 100%;
    margin: 0 0 30px;
    padding: 10px 0;
  }

  #mobile_campaign_video.mobile{
    height: auto;
    max-width: inherit;
    text-align: center;
  }

  #campaign_content{
    margin-top: 0;
  }

  /* Campaign page end */

  /* Edit campaign page */

  #add_rewards > .right,
  #campaign_files > .right {
    float: none;
    min-height: 36px;
    line-height: 36px;
    padding: 20px 0 0;
  }

  ul#commitment-list{
    min-height: 18px;
  }

  #campaign_stats,
  #campaign_files .block-list{
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
  }

  #campaign_stats table,
  #campaign_files .block-list li{
    min-width: 480px;
  }

  ul#mobile_campaign_share{
    margin-bottom: 20px;
    padding: 20px 20px 0;
  }

  ul#mobile_campaign_share li {
    display: inline-block;
    float: none;
    margin-bottom: 15px;
  }

  ul#mobile_campaign_share.mobile > #campaign_reminder{
    float: none;
  }

  ul#mobile_campaign_share .share-hint{
    top: -2px;
  }

  ul#mobile_campaign_share li#embed_campaign .icon-code{
    top: 0;
  }

  ul#mobile_campaign_share li#campaign_reminder .icon{
    top: 2px;
    position: relative;
  }

  /* Edit campaign page end */


  /* Contribution page */

  #new_contribution > div,
  #thank_you > div,
  #campaign_dash ~ div,
  #new_contribution .campaign_badge,
  #campaign_dash ~ div > .campaign_badge,
  #thank_you .campaign_badge,
  #user_profile > div,
  /*#user_profile .campaign_badge,*/
  #conversation_list,
  #conversation_show{
    width: 100%;
    max-height: initial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #new_contribution .campaign_image img,
  #campaign_dash ~ div > .campaign_badge .campaign_image img,
  #user_profile .campaign_image img,
  #thank_you .campaign_image img{
    max-height: 300px
  }

  #user_profile .campaign_header,
  #new_contribution .campaign_header,
  #campaign_dash ~ div > .campaign_badge .campaign_header,
  #thank_you .campaign_header{
    height: auto;
  }

  #new_contribution .campaign_headline,
  #user_profile .campaign_headline,
  #campaign_dash ~ div > .campaign_badge .campaign_headline,
  #thank_you .campaign_headline{
    min-height: initial;
  }

  input#contribution_amount, #contribution_amount_fixed {
    font-size: 14pt;
    font-weight: 600;
    line-height: 38px;
  }

  /* Contribution page end */

  /* User profile */

  #user_profile {
    border-top: solid 1px #ddd;
    padding-top: 20px;
  }

  #user_profile .grid_6 .well #user_campaigns_preview {
    float: none;
    padding-bottom: 20px;
  }

  /* User profile */

  /* Inbox */

  #conversation_list .right.dd_list,
  .messages_dialog .right.dd_list{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 45px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 150px;
  }

  .show_messages #conversation_list,
  .show_messages .mobile_header{
    display: none;
  }

  #conversation_list .right.dd_list.show,
  .messages_dialog .right.dd_list.show{
    display: block;
  }

  #conversation_list ul.block-list li,
  .messages_dialog #message-list li{
    position: relative;
    background-color: #fff;
    height: 60px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .messages_dialog #message-list li{
    height: auto;
  }

  .messages_dialog #message-list li p:last-of-type{
    margin-bottom: 0;
  }

  #conversation_list ul.block-list li > a:last-of-type{
    height: 18px;
    display: list-item;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 50px;
    overflow: hidden;
  }

  #conversation_list ul.block-list li > .right:first-of-type{
    margin-right: 50px;
  }

  #conversation_list span._label,
  .dd.mobile ._label{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45px;
    border-left: solid 1px #ddd;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    z-index: 9;
    background: white;
  }

  .messages_dialog .right.dd_list{
    bottom: auto;
    height: 68px;
  }

  #conversation_list .right.dd_list a,
  .messages_dialog .right.dd_list a{
    width: 50px;
    display: inline-block;
    float: left;
    text-align: center;
    height: 60px;
    line-height: 65px;
  }

  .messages_dialog .right.dd_list a{
    line-height: 70px;
  }

  .messages_dialog #message_content{
    min-height: 150px;
  }

  .messages_dialog{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    z-index: 9999;
  }

  .show_messages .messages_dialog{
    display: block;
  }

  .dialog_content #conversation_content h3,
  #conversation_show{
    display: none;
  }

  /* Inbox end */

  /* Error messages */

  .field_error{
    display: block;
    margin: 10px 0;
  }

  /* Error messages end */


  /*Blog*/

  .blog-sidebar-wrapper.grid_4.right.last{
    margin-bottom: 40px;
  }

  .blog-sidebar-wrapper.grid_4.right.last,
  .blog-sidebar-wrapper.grid_4.right.last input[type="text"],
  .blog-content-wrapper.grid_8{
    float: none;
    width: 100%;
    max-width: 100%;
  }

  .blog-content-wrapper.grid_8{
    margin-right: 0;
  }

  .blog-content-wrapper.grid_8 .well{
    padding: 19px;
  }
  /*Blog END*/

}

/* Tablets end */

/* Big phones */

@media screen and (max-width: 640px){
  .campaign_badge {
    width: 48%;
  }

  .campaign_badge:nth-of-type(3n-1){
    margin: 0 0 10px;
  }

  .campaign_badge:nth-of-type(odd){
    margin-right: 4%;
  }

  #new_contribution .campaign_badge{
    width: 100%;
    margin: 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*Blog*/

  .blog_actions.right{
    float: none;
    margin: 30px 0 20px;
  }

  /*Blog END*/
}

/* Big phones end */

/* Phones */

@media screen and (max-width: 480px){
  .campaign_badge {
    width: 100%;
  }

  .campaign_badge:nth-of-type(3n-1),
  .campaign_badge:nth-of-type(even),
  .campaign_badge:nth-of-type(odd){
    margin: 0 0 2em;
  }

  .show_address_rewards {
    font-size: 90%;
  }
}

/* Phones end */
