{% comment %}Campaign reminder{% endcomment %}

{% layout %}{{ layout.dialog }}{% endlayout %}
{% title %}{{ 'campaign_show_reminder_share' | t }}{% endtitle %}

<div class="center">
  <h3 class="reminder-header">
    {{ 'campaign_show_reminder_on' | t }}
  </h3>
  <p>
    {{ 'campaign_show_reminder_explanation' | t }}
  </p>
</div>
